<h1>Edit Account  </h1>
<form method="post" action="/accounts/<%= @account.id %>/edit">
<p><label>Account Name</label>
<input type="text" name="account_name" id="account_name" value="<%= @account.account_name %>"></p>
<p><label>Account UserName</label>
<input type="text" name="account_username" id="account_username" value="<%= @account.account_username %>"></p>
<p><label>Account Password:</label>
<input type="text" name="account_password" id="account_password" value="<%= @account.account_password %>"></p>
<p><label>Password Expiry(in days):</label>
<input type="number" name="password_expiry" id="password_expiry" value="<%= @account.password_expiry %>"></p>
<input type="submit" name="submit" value="SAVE">
</form>
<form method="POST" action = "/accounts/<%= @account.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input name="submit" type="submit" value="DELETE">
  </form>

<a href="/">HOME</a> | <a href="/logout">LOGOUT</a>
