<h1>Welcome <%= @user.username %></h1>
<h3>Account details for <%= @account.account_name %></h3>

<p><strong>Account Username</strong>: <%= @account.account_username %></p>

<p><strong>Account Password</strong>: <%= @account.account_password %></p>

<p><strong>Password Expires in</strong>: <%= @account_password_expires_in %></p>
<p><%= session[:message] %></p>

<p>
  <a href="/accounts/<%= @account.id %>/edit">Edit</a>
  <form method="POST" action = "/accounts/<%= @account.id %>/delete">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input name="submit" type="submit" value="Delete">
  </form>
</p>
<hr>
<a href="/">HOME</a> | <a href="/logout">LOGOUT</a>
